@page "/"
@using ScriptContainer
@inject IJSRuntime scriptService

<PageTitle>Index</PageTitle>

<h1 @ref="SomeElement">Events</h1>

<h2>Document Bounds</h2>

<ul>
  <li>@DocW</li>
  <li>@DocH</li>
</ul>

<h2>Element Bounds</h2>

<ul>
  <li>@ItemW</li>
  <li>@ItemH</li>
</ul>

@code
{
  public double DocW { get; set; }
  public double DocH { get; set; }
  public double ItemW { get; set; }
  public double ItemH { get; set; }
  public ScriptService ScaleService { get; set; }
  public ElementReference SomeElement { get; set; }

  protected override async Task OnAfterRenderAsync(bool setup)
  {
    if (setup)
    {
      ScaleService = new ScriptService(scriptService);

      await ScaleService.CreateModule();
      await GetBounds();

      ScaleService.OnSize = async message => await GetBounds();
    }

    await base.OnAfterRenderAsync(setup);
  }

  protected async Task GetBounds()
  {
    var docBounds = await ScaleService.GetDocBounds();

    DocW = docBounds.Width;
    DocH = docBounds.Height;

    var itemBounds = await ScaleService.GetElementBounds(SomeElement);

    ItemW = docBounds.Width;
    ItemH = docBounds.Height;

    await InvokeAsync(StateHasChanged);
  }
}
